body {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    min-width: 600px;
}

.changePage {
    width: 90%;
    height: 5vh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 3% auto 5% auto;
    /* 上、左右自動、下 */
}

.changePage>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

a#Home {
    color: rgb(134, 88, 241);
}

a#AboutMe {
    color: rgb(105, 193, 248);
}

a#nXn {
    color: rgb(36, 230, 120);
}

a#WaterPuzzle {
    color: rgb(170, 201, 15);
    padding-top: 5px;
    font-weight: 600;
}

a#ReactApp {
    color: rgb(226, 60, 22);
    padding-top: 5px;
    font-weight: 600;
}

a:hover {
    font-size: 2em;
}

/*index.html*/
#index {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
}

/*about.html*/
.sameSet{
    background-color: rgba(85, 128, 255, 0.875);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
}

#Me {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 30px auto;/*上、右、下、左*/

}
#me {
    /* pic*/
    width: 150px;
    border-radius: 10px;
}

#Other {
    width: 500px;
    display: flex;
    margin: auto;
}
#textMe {
    width: 235px;
    height: fit-content;
    margin: 0 30px 30px 0;
}
#learnedLesson {
    width: 235px;
}

/*nXn.html*/
div#NxN {
    text-align: center;
    margin-top: 10px;
    padding: auto;
}

#NxNh1 {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.87);
}

div#nxnTable {
    width: 80%;
    margin: 10px auto;
    padding: 20px 40px;
}

table,
tr,
td {
    background-color: lightcyan;
    border: 1px solid #242424;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}

/*waterPuzzle.html*/
#wp {
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*X軸位置*/
    justify-content: center;
    /*Y軸位置*/
}

.WPMade {
    text-align: center;
    margin-top: 10px;
}

#game-container {
    display: flex;
    /*彈性放置*/
    flex-wrap: wrap;
    /*卷軸不夠放，換到下一行*/
    justify-content: center;
    /*X軸 置中*/
    margin-top: 5%;
    margin-bottom: 20px;
}

.tube {
    width: 50px;
    height: 200px;
    border: 2px, solid, aliceblue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*由下到上排序*/
    overflow: hidden;
    margin-top: 20px;
}

.water {
    width: 100%;
}

.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}