.changePage {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 5%;
    background-color: rgb(209, 233, 255);
}

.changePage>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

a#Home {
    color: rgb(134, 88, 241);
}

a#AboutMe {
    color: rgb(105, 193, 248);
}

a#LessonNote {
    color: rgb(33, 238, 217);
}

a#HomeWork {
    color: rgb(24, 242, 119);
}

a#WaterPuzzle {
    color: rgb(209, 246, 23);
}

a:hover {
    font-size: 1.8em;
}
div#NxN{
    text-align: center;
}
#NxNh1{
    font-size: 2em;
    color: rgb(75, 75, 75);
}
div#nxnTable{
    width:80%;
    margin: 10px auto;
    padding: 20px;
}
table, tr, td{
    background-color: lightcyan;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}
