div.changePage{
    width: 100%;
    height: 3vh;
    display: flex;
    text-align: center;
}
div.page{
    width:100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 3%;
}
a#Home{
    color: rgb(75, 75, 75);
}
a#AboutMe{
    color:lightblue;
}
a#HomeWork{
    color:red;
}
a:hover{
    font-size: 1.8em;
}

div#NxN{
    text-align: center;
}
#NxNh1{
    font-size: 2em;
    color: rgb(75, 75, 75);
}
div#nxnTable{
    width:80%;
    margin: 10px auto;
    padding: 20px;
}
table, tr, td{
    background-color: lightcyan;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}