body {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    min-width: 600px;
}

.changePage {
    width: 90%;
    height: 5vh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 3% auto 5% auto;
    /* 上、左右自動、下 */
}

.changePage>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

a#Home {
    color: rgb(134, 88, 241);
}

a#AboutMe {
    color: rgb(105, 193, 248);
}

a#nXn {
    color: rgb(36, 230, 120);
}

a#WaterPuzzle {
    color: rgb(170, 201, 15);
    padding-top: 5px;
    font-weight: 600;
}

a#ReactApp {
    color: rgb(226, 60, 22);
    padding-top: 5px;
    font-weight: 600;
}

a:hover {
    font-size: 2em;
}

/*index.html*/
#index {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
}

#Me {
    width: 600px;
    box-sizing: border-box;
    background-color: rgba(55, 99, 230, 0.87);
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

#me {
    /* pic*/
    width: 150px;
    border-radius: 10px;
    float: right;
    margin: 13px;
}

#other {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 8px;
}

#otherLeft {
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

#textMe {
    width: 215px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(55, 99, 230, 0.87);
    margin-right: 20px;
}

#cube {
    margin: 5px 0px 0px 15px;
}

#aniCube {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

#learnedLesson {
    width: 260px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(55, 99, 230, 0.87);
    line-height: 5px;
    text-align: center;
}

/*nXn.html*/
div#NxN {
    text-align: center;
    margin-top: 10px;
}

#NxNh1 {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.87);
}

div#nxnTable {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}

table,
tr,
td {
    background-color: lightcyan;
    border: 1px solid #242424;
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}

/*waterPuzzle.html*/
#wp {
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*X軸位置*/
    justify-content: center;
    /*Y軸位置*/
}

.WPMade {
    text-align: center;
    margin-top: 10px;
}

#game-container {
    display: flex;
    /*彈性放置*/
    flex-wrap: wrap;
    /*卷軸不夠放，換到下一行*/
    justify-content: center;
    /*X軸 置中*/
    margin-top: 5%;
    margin-bottom: 20px;
}

.tube {
    width: 50px;
    height: 200px;
    border: 2px, solid, aliceblue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*由下到上排序*/
    overflow: hidden;
    margin-top: 20px;
}

.water {
    width: 100%;
}

.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}