body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*X軸位置*/
    justify-content: center;
    /*Y軸位置*/
    background-color: rgb(255, 255, 255);
}

.changePage {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 3%;
}

.changePage>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

a#Home {
    color: rgb(134, 88, 241);
}

a#AboutMe {
    color: rgb(105, 193, 248);
}

a#LessonNote {
    color: rgb(33, 238, 217);
}

a#HomeWork {
    color: rgb(24, 242, 119);
}

a#WaterPuzzle {
    color: rgb(209, 246, 23);
}

a:hover {
    font-size: 1.8em;
}

.WPMade {
    text-align: center;
}

#game-container {
    display: flex;
    /*彈性放置*/
    flex-wrap: wrap;
    /*卷軸不夠放，換到下一行*/
    justify-content: center;
    /*X軸 置中*/
    margin-top: 5%;
    margin-bottom: 20px;
}

.tube {
    width: 50px;
    height: 200px;
    border: 2px, solid, black;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*由下到上排序*/
    overflow: hidden;
    margin-top: 20px;
}

.water {
    width: 100%;
}

.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}