body {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    min-width: 500px;
    margin: 0 auto;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.page_div {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    text-wrap: nowrap;
    width: 200px;
    min-width: 100px;
    font-size: 20px;
    height: 60px;
    transition-property: font-size;
    transition-duration: 1s;
}

.page_div:hover {
    text-wrap: wrap;
    font-size:30px;
}

a {
    text-decoration: none;
}

a#Home {
    color: rgb(134, 88, 241);
}

a#AboutMe {
    color: rgb(105, 193, 248);
}

a#nXn {
    color: rgb(36, 230, 120);
}

a#WaterPuzzle {
    color: rgb(170, 201, 15);
}

a#ReactApp {
    color: rgb(226, 60, 22);
}

#wp {
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*X軸位置*/
    justify-content: center;
    /*Y軸位置*/
}

.WPMade {
    text-align: center;
    margin-top: 10px;
}

#game-container {
    display: flex;
    /*彈性放置*/
    flex-wrap: wrap;
    /*卷軸不夠放，換到下一行*/
    justify-content: center;
    /*X軸 置中*/
    margin-top: 5%;
    margin-bottom: 20px;
}

.tube {
    width: 50px;
    height: 200px;
    border: 2px, solid, aliceblue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*由下到上排序*/
    overflow: hidden;
    margin-top: 20px;
}

.water {
    width: 100%;
}

.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}