<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Puzzle</title>
    <link rel="stylesheet" type="text/css" href="/style/body&top.css">
    <link rel="stylesheet" type="text/css" href="/style/waterpuzzle.css">
    <script src="/js/waterPuzzle.js"></script>
</head>

<body>
    <div id="top">
        <div class="page_div">
            <a href="/templates/index.html" target="_self" id="Home">首頁</a>
        </div>
        <div class="page_div">
            <a href="/templates/aboutMe.html" target="_self" id="AboutMe">關於</a>
        </div>
        <div class="page_div">
            <a href="/templates/nXn.html" target="_self" id="nXn">NxN乘法表</a>
        </div>
        <div class="page_div">
            <a href="/templates/waterPuzzle.html" target="_self" id="WaterPuzzle" title="Water Puzzle" style="font-size: 30px;">Water Puzzle</a>
        </div>
        <div class="page_div">
            <a href="https://wangyuching.github.io/reactApp/" target="_blank" id="ReactApp">React App</a>
        </div>
    </div>

    <div id="wp">
        <h1 class="WPMade">Water Puzzle</h1>
        <div id="game-info">
            <p>關卡 : <span id="level-count">1</span></p>
            <p>完成的試管：<span id="completed-tubes-count">0</span></p>
            <label for="level-select">選擇關卡</label>
            <select id="level-select">
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="5">Level 5</option>
                <option value="6">Level 6</option>
                <option value="7">Level 7</option>
                <option value="8">Level 8</option>
                <option value="9">Level 9</option>
                <option value="10">Level 10</option>
            </select>
            <button id="play-button">Play</button>
        </div>
        <div id="game-container"></div>
    </div>
</body>

</html>